.dropdown {
  align-items: center;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  left: 20px;
  padding: 10px;
  position: relative;
  width: 313px;
}
.dropdown .frame {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px;
  position: relative;
}
.dropdown .edit-profil {
  font-family: 'Inter' Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: normal;
  position: relative;
  width: fit-content;
}
.dropdown.default {
  background-color: #ffffff;
  top: 20px;
}
.dropdown.variant-2 {
  background-color: #b49de4;
  top: 104px;
}
.dropdown.default .edit-profil {
  color: #444444;
}
.dropdown.variant-2 .edit-profil {
  color: #ffffff;
}
